audit = false
fund = false
update-notifier = false
auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true
hoist-workspace-packages = false
loglevel = warn
package-manager-strict=false
# https://github.com/pnpm/pnpm/issues/7024
package-import-method=clone-or-copy

# Bosch Artifactory Configuration
registry=https://artifactory.boschdevcloud.com/artifactory/n8n/n8n-sso/
@n8n:registry=https://artifactory.boschdevcloud.com/artifactory/n8n-local/n8n-sso/
always-auth=true
//artifactory.boschdevcloud.com/artifactory/n8n/n8n-sso/:_authToken=${NPM_TOKEN}
//artifactory.boschdevcloud.com/artifactory/n8n-local/n8n-sso/:_authToken=${NPM_TOKEN}
